$blackOpacityColor: rgb(0, 0, 0, 0.7);

.basket {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $blackOpacityColor;
	display: flex;
	justify-content: flex-end;
	z-index: 99;

	animation-name: basket-open;
	animation-duration: .2s;
	animation-fill-mode: forwards;
	opacity: 0;

	&--close {
		animation-name: basket-close;
		animation-duration: .2s;
		animation-delay: .3s;
		animation-fill-mode: forwards;
		opacity: 1;
	}

	&__wrapper {
		width: 600px;
		height: 100%;
		background: $whiteColor;
		position: relative;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		animation-name: basket-wrapper;
		animation-duration: .3s;
		animation-delay: .2s;
		animation-fill-mode: forwards;
		transform: translateX(100%);

		&--close {
			animation-name: basket-wrapper-close;
			animation-duration: .3s;
			animation-fill-mode: forwards;
			transform: translateX(0);
		}

		@keyframes basket-wrapper-close {
			100% {
				transform: translateX(100%);
			}
		}
	}

	&__close {
		position: absolute;
		top: 32px;
		right: 40px;
		width: 48px;
		height: 48px;
		border: 1px solid rgb(0, 0, 0, 0.1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: background .2s;

		&:hover {
			background: rgb(0, 0, 0, 0.1);
		}
	}

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 88%;
		letter-spacing: -0.04em;
	}

	&__list {
		margin-top: 94px;
	}

	&__result {
		display: flex;
		justify-content: space-between;
	}

	&__result-info {
		display: flex;
		flex-direction: column;
		grid-row-gap: 6px;
	}

	&__result-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
	}

	&__result-price {
		font-weight: 500;
		font-size: 30px;
		line-height: 100%;
		letter-spacing: -0.02em;
	}

	&__result-submit {
		border: none;
		padding: 20px 58px 21px 57px;
		background: $greenDarkColor;
		border-radius: 4px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		cursor: pointer;
		transition: background .3s;

		&:hover {
			background: $greenColor;
		}
	}

	&__empty {
		font-weight: 500;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: -0.04em;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		animation-name: basket-empty;
		animation-duration: .3s;
		animation-fill-mode: forwards;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}

	&__loading {
		user-select: none;
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30%;
	}

	@keyframes basket-empty {
		100% {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	@keyframes basket-open {
		100% {
			opacity: 1;
		}
	}

	@keyframes basket-wrapper {
		100% {
			transform: translateX(0);
		}
	}

	@keyframes basket-close {
		100% {
			opacity: 0;
		}
	}
}

@media (max-width: 600px) {
	.basket {
		&__wrapper {
			padding: 24px;
		}

		&__list {
			margin-top: 64px;
		}

		&__close {
			top: 24px;
			right: 24px;
			width: 36px;
			height: 36px;
		}

		&__result-submit {
			padding: 20px 34px 21px 33px;
		}
	}
}

@media (max-width: 380px) {
	.basket {
		&__result-submit {
			padding: 15px 25px 16px 24px;
		}

		&__result-price {
			font-size: 25px;
		}
	}
}