.header-call {
	display: flex;
	flex-direction: column;
	grid-row-gap: 2px;

	&__tel {
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.02em;
		transition: opacity .2s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__text {
		cursor: pointer;
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		opacity: 0.3;
		transition: opacity .2s;

		&:hover {
			opacity: 0.7;
		}
	}
}