$whiteColor: #FFFFFF;
$whiteDopColor: #efefef;
$blackColor: #1F2020;
$silverColor: #C4C4C4;
$silverDopColor: #F2F2F2;
$grayColor: #a8abab;
$grayDopColor: #d4d4d4;
$grayDop1Color: #959595;
$darkColor: #000000;
$greenColor: #61d099;
$greenDarkColor: #7BB899;