.slider {
	width: 100%;
	height: 560px;
	z-index: 2;

	&__swiper {
		height: inherit;
		position: relative;
	}

	&__slide {
		background-image: url('@/assets/img/slider-img.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		&:nth-child(2) {
			background-image: url('https://ae04.alicdn.com/kf/HTB18wz1QFXXXXaPXFXXq6xXFXXXq/-.jpg');
			background-position: center;
		}

		&:nth-child(3) {
			background-image: url('@/assets/img/slider-img-3.png');
			background-position: center;
		}

		&:nth-child(4) {
			background-image: url('@/assets/img/slider-img-4.png');
			background-position: center;
		}
	}

	&__nav {
		position: absolute;
		width: 35%;
		height: 100%;
		top: 0;
		z-index: 1;
		cursor: pointer;

		&:hover {
			img {
				opacity: 1;
			}
		}

		& img {
			position: absolute;
			top: 354px;
			user-select: none;
			pointer-events: none;
			opacity: 0;
			transition: opacity .2s;
		}
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}

	&__prev-img {
		left: 80%;
		transform: rotate(180deg);
	}

	&__next-img {
		right: 80%;
	}

	&__breadcrumbs {
		position: absolute;
		top: 32px;
		left: 63px;
		z-index: 22;
	}

	&__info {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-row-gap: 24px;
		justify-content: center;
		color: $whiteColor;

		animation-name: slider-info;
		animation-duration: .6s;
		animation-delay: .5s;
		animation-fill-mode: forwards;
		opacity: 0;

		@keyframes slider-info {
			100% {
				opacity: 1;
			}
		}

		& h3 {
			font-weight: 400;
			font-size: 72px;
			line-height: 88%;
			letter-spacing: -0.02em;
		}

		& p {
			font-weight: 500;
			font-size: 16px;
			line-height: 130%;
			letter-spacing: 0.02em;
			text-align: center;
			max-width: 472px;
		}
	}
}

.swiper-button-disabled {
	opacity: 0;
	cursor: auto;
	transition: .3s;
}

.swiper-pagination {
	display: inline-flex;
	width: auto !important;
	left: 50% !important;
	transform: translateX(-50%);
	bottom: 39px !important;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 16px;
	padding: 13px 24px;

	animation-name: slider-pagination;
	animation-duration: .5s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes slider-pagination {
	100% {
		opacity: 1;
	}
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background: $whiteColor;
	opacity: 0.2;
	transition: opacity .3s;

	&:hover {
		opacity: 0.7;
	}
}

.swiper-pagination-bullet-active {
	opacity: 1;
}

@media (max-width: 1440px) {
	.slider {
		&__prev-img {
			left: 50%;
		}

		&__next-img {
			right: 50%;
		}
	}
}

@media (max-width: 1200px) {
	.slider {
		height: 460px;

		&__nav {
			width: 30%;

			& img {
				top: 254px;
			}
		}
	}
}